.cbp-header {
  background: #003366;
  height: 80px;

  &-text {
    color: white;
    font-weight: 700;

    &:hover {
      color: white;
    }
  }

  .usa-button {
    background-color: #003366;

    &:hover {
      background-color: rgb(255, 255, 255, 0.2);
    }

    //Remove the underline for links in USWDS's unstyled buttons
    &--unstyled {
      text-decoration: none;

      &:hover {
        background: none;
      }
    }
  }

  //"-- Recent Applications" section in Application Menu Dropdown
  &-subitem {
    align-items: center;
    display: flex;
    font-weight: 500;
    height: $cbp-size-4;
    text-decoration: none;

    &:hover {
      background: rgb(255, 255, 255, 0.2);
    }
  }

  &-subtext {
    display: inline-block;
    color: $cbp-accent-primary-light;
    font-style: italic;
    margin: auto $cbp-size-2 $cbp-size-1 $cbp-size-2;
  }

  .dropdown-content {
    position: absolute;
    display: none;
    left: $cbp-size-2px;
    z-index: 1;
    background: #003366;
    width: 240px;
    border-radius: 0 0 5px 5px;
    padding-top: $cbp-size-2;
    margin-top: $cbp-size-1;

    &.show {
      display: block;
    }

    &.user-profile {
      width: 150px;
    }
  }
}

.cbp-logo {
  &-text {
    color: white;
    font-weight: 500;
  }

  &-mobile {
    display: none;
  }
}

.cbp-container {
  align-items: center;
  height: inherit;
  margin: auto $cbp-size-4;

  i {
    margin-right: $cbp-size-1;
  }
}

.dropdown-content-mobile {
  display: none;
}
//widescreen
@media (min-width: 1400px) {
}
//desktop
@media (max-width: 1024px) {
}
//tablet
@media (max-width: 768px) {
  //Removes the text in the header so that only the icons show.
  .cbp-header-text {
    display: none;
  }

  .cbp-logo {
    display: none;

    &-mobile {
      display: flex;
    }
    &-text {
      margin: auto;
      padding-left: $cbp-size-2;
    }
  }

  .dropdown-content-mobile {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #003366;
    z-index: 1;
    padding: $cbp-size-3;

    .cbp-text-header-lg {
    }

    .cbp-header-subtext {
      margin: $cbp-size-4 0 $cbp-size-1 0;
    }

    .cbp-text-button {
      display: block;
      text-decoration: none;
      margin: $cbp-size-2 auto auto auto;
    }

    > .dropdown-content {
      margin: 0;
    }

    .cbp-header-subitem:hover {
      background: transparent;
    }

    .usa-button {
      max-width: 100px;
      text-align: right;

      .cbp-close-icon {
        color: white;
        font-size: 16px;
      }
    }
  }
}
//phone
@media (max-width: 320px) {
}
