.cbp-header {
  background: #003366;
  height: 80px;

  &-text {
      color: white;
      font-weight: 700;

      &:hover {
          color: white;
      }
  }

  .usa-button {
      background-color: #003366;
      
      &:hover {
          background-color: rgb(255, 255, 255, 0.2);
      }

      //Remove the underline for links in USWDS's unstyled buttons
      &--unstyled {
        text-decoration: none;

        &:hover {
            background: none;
        }
      }
   }

  //"-- Recent Applications" section in Application Menu Dropdown
  &-subitem {
      align-items: center;
      display: flex;
      font-weight: 500;
      height: $cbp-size-4;
      text-decoration: none;
      
      &:hover {
          background: rgb(255, 255, 255,0.2);  
      }
    }

    &-subtext {
        display: inline-block;
        color: $cbp-accent-primary-light;
        font-style: italic;
        margin: auto $cbp-size-2 $cbp-size-1 $cbp-size-2;

    }

  .dropdown-content {
    position: absolute;
    display: none;
    left: $cbp-size-2px;
    z-index: 1;
    background: #003366;
    width: 240px;
    border-radius: 0 0 5px 5px;
    padding-top: $cbp-size-2;
    margin-top: $cbp-size-1;

    &.show {display: block;}

    &.user-profile {
        width: 150px;
    }
  }
}

.cbp-container {
    align-items: center;
    height: inherit;
    margin: auto $cbp-size-4;

    i {
        margin-right: $cbp-size-1;
    }
}


//widescreen
@media (min-width: 1400px) {

}
//desktop
@media (max-width: 1024px){

}
//tablet
@media (max-width: 640px){
    //Removes the text in the header so that only the icons show. 
    .cbp-header-text {
        display: none;
    }
}
//phone
@media (max-width: 320px) {
    .cbp-header-text {
        display: none;
    }
}