/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@media only screen and (min-width: 1022px) {
  .cbp-header__link {
    display: block;
    color: white;
    margin-bottom: 2px;
    + span {
      color: white;
    }
  }
}

@media only screen and (max-width: 64em) {
  //hide subnav in mobile drawer
  .cbp-subnav > .usa-nav__primary,
  .cbp-subnav > button,
  .cbp-subnav > .usa-search,
  .cbp-global-header {
    display: none;
  }
}
